appdirs==1.4.3
appnope==0.1.0
arabic-reshaper==2.0.15
astroid==2.3.3
astunparse==1.6.2
attrs==19.3.0
awscli==1.17.13
backcall==0.1.0
botocore==1.14.13
cffi==1.13.2
chardet==3.0.4
colorama==0.4.3
configparser==4.0.2
control==0.8.3
cryptography==42.0.4
cycler==0.10.0
decorator==4.4.1
defusedxml==0.6.0
distlib==0.3.0
docutils==0.15.2
entrypoints==0.3
esprima==4.0.1
et-xmlfile==1.0.1
filelock==3.0.12
freetype-py==2.1.0.post1
gitdb2==2.0.6
GitPython==3.1.41
glfw==1.8.7
greenlet==0.4.15
h5py==2.10.0
idna==3.7
imageio==2.6.1
imageio-ffmpeg==0.3.0
importlib-metadata==1.2.0
importlib-resources==1.3.1
imutils==0.5.3
ipykernel==5.1.3
ipython==8.10.0
ipython-genutils==0.2.0
ipywidgets==7.5.1
isort==4.3.21
jdcal==1.4.1
jedi==0.15.1
Jinja2==3.1.4
jmespath==0.9.4
joblib==1.2.0
json-tricks==3.13.5
jsonschema==3.2.0
jupyter==1.0.0
jupyter-client==5.3.4
jupyter-console==6.0.0
jupyter-core==4.11.2
keyboard==0.13.4
kiwisolver==1.1.0
lazy-object-proxy==1.4.3
MarkupSafe==1.1.1
matplotlib==3.1.2
mccabe==0.6.1
mistune==0.8.4
more-itertools==8.0.2
moviepy==1.0.1
mplcursors==0.3
msgpack==0.6.2
msgpack-numpy==0.4.4.3
nbconvert==6.5.1
nbformat==4.4.0
nidaqmx==0.5.7
notebook==6.4.12
numexpr==2.7.0
numpy==1.22.0
opencv-python==4.2.0.32
openpyxl==3.0.2
pandas==0.25.3
pandocfilters==1.4.2
parso==0.5.1
patsy==0.5.1
pbr==5.4.4
pexpect==4.7.0
pickleshare==0.7.5
Pillow==10.3.0
proglog==0.1.9
prometheus-client==0.7.1
prompt-toolkit==2.0.10
psutil==5.6.7
PsychoPy==3.2.4
ptyprocess==0.6.0
pyasn1==0.4.8
PyAudio==0.2.11
pycparser==2.19
pyglet==1.4.8
Pygments==2.15.0
pylint==2.4.4
pyobjc==6.1
pyobjc-core==6.1
pyobjc-framework-Accounts==6.1
pyobjc-framework-AddressBook==6.1
pyobjc-framework-AdSupport==6.1
pyobjc-framework-AppleScriptKit==6.1
pyobjc-framework-AppleScriptObjC==6.1
pyobjc-framework-ApplicationServices==6.1
pyobjc-framework-AuthenticationServices==6.1
pyobjc-framework-Automator==6.1
pyobjc-framework-AVFoundation==6.1
pyobjc-framework-AVKit==6.1
pyobjc-framework-BusinessChat==6.1
pyobjc-framework-CalendarStore==6.1
pyobjc-framework-CFNetwork==6.1
pyobjc-framework-CloudKit==6.1
pyobjc-framework-Cocoa==6.1
pyobjc-framework-Collaboration==6.1
pyobjc-framework-ColorSync==6.1
pyobjc-framework-Contacts==6.1
pyobjc-framework-ContactsUI==6.1
pyobjc-framework-CoreAudio==6.1
pyobjc-framework-CoreAudioKit==6.1
pyobjc-framework-CoreBluetooth==6.1
pyobjc-framework-CoreData==6.1
pyobjc-framework-CoreHaptics==6.1
pyobjc-framework-CoreLocation==6.1
pyobjc-framework-CoreMedia==6.1
pyobjc-framework-CoreMediaIO==6.1
pyobjc-framework-CoreML==6.1
pyobjc-framework-CoreMotion==6.1
pyobjc-framework-CoreServices==6.1
pyobjc-framework-CoreSpotlight==6.1
pyobjc-framework-CoreText==6.1
pyobjc-framework-CoreWLAN==6.1
pyobjc-framework-CryptoTokenKit==6.1
pyobjc-framework-DeviceCheck==6.1
pyobjc-framework-DictionaryServices==6.1
pyobjc-framework-DiscRecording==6.1
pyobjc-framework-DiscRecordingUI==6.1
pyobjc-framework-DiskArbitration==6.1
pyobjc-framework-DVDPlayback==6.1
pyobjc-framework-EventKit==6.1
pyobjc-framework-ExceptionHandling==6.1
pyobjc-framework-ExecutionPolicy==6.1
pyobjc-framework-ExternalAccessory==6.1
pyobjc-framework-FileProvider==6.1
pyobjc-framework-FileProviderUI==6.1
pyobjc-framework-FinderSync==6.1
pyobjc-framework-FSEvents==6.1
pyobjc-framework-GameCenter==6.1
pyobjc-framework-GameController==6.1
pyobjc-framework-GameKit==6.1
pyobjc-framework-GameplayKit==6.1
pyobjc-framework-ImageCaptureCore==6.1
pyobjc-framework-IMServicePlugIn==6.1
pyobjc-framework-InputMethodKit==6.1
pyobjc-framework-InstallerPlugins==6.1
pyobjc-framework-InstantMessage==6.1
pyobjc-framework-Intents==6.1
pyobjc-framework-IOSurface==6.1
pyobjc-framework-iTunesLibrary==6.1
pyobjc-framework-LatentSemanticMapping==6.1
pyobjc-framework-LaunchServices==6.1
pyobjc-framework-libdispatch==6.1
pyobjc-framework-LinkPresentation==6.1
pyobjc-framework-LocalAuthentication==6.1
pyobjc-framework-MapKit==6.1
pyobjc-framework-MediaAccessibility==6.1
pyobjc-framework-MediaLibrary==6.1
pyobjc-framework-MediaPlayer==6.1
pyobjc-framework-MediaToolbox==6.1
pyobjc-framework-MetalKit==6.1
pyobjc-framework-ModelIO==6.1
pyobjc-framework-MultipeerConnectivity==6.1
pyobjc-framework-NaturalLanguage==6.1
pyobjc-framework-NetFS==6.1
pyobjc-framework-Network==6.1
pyobjc-framework-NetworkExtension==6.1
pyobjc-framework-NotificationCenter==6.1
pyobjc-framework-OpenDirectory==6.1
pyobjc-framework-OSAKit==6.1
pyobjc-framework-OSLog==6.1
pyobjc-framework-PencilKit==6.1
pyobjc-framework-Photos==6.1
pyobjc-framework-PhotosUI==6.1
pyobjc-framework-PreferencePanes==6.1
pyobjc-framework-PubSub==6.1
pyobjc-framework-PushKit==6.1
pyobjc-framework-Quartz==6.1
pyobjc-framework-QuickLookThumbnailing==6.1
pyobjc-framework-SafariServices==6.1
pyobjc-framework-SceneKit==6.1
pyobjc-framework-ScreenSaver==6.1
pyobjc-framework-ScriptingBridge==6.1
pyobjc-framework-SearchKit==6.1
pyobjc-framework-Security==6.1
pyobjc-framework-SecurityFoundation==6.1
pyobjc-framework-SecurityInterface==6.1
pyobjc-framework-ServiceManagement==6.1
pyobjc-framework-Social==6.1
pyobjc-framework-SoundAnalysis==6.1
pyobjc-framework-Speech==6.1
pyobjc-framework-SpriteKit==6.1
pyobjc-framework-StoreKit==6.1
pyobjc-framework-SyncServices==6.1
pyobjc-framework-SystemConfiguration==6.1
pyobjc-framework-SystemExtensions==6.1
pyobjc-framework-UserNotifications==6.1
pyobjc-framework-VideoSubscriberAccount==6.1
pyobjc-framework-VideoToolbox==6.1
pyobjc-framework-Vision==6.1
pyobjc-framework-WebKit==6.1
PyOpenGL==3.1.4
pyOpenSSL==19.1.0
pyosf==1.0.5
pyparsing==2.4.5
PyQt5==5.13.2
PyQt5-sip==12.7.0
pyrsistent==0.15.6
pyserial==3.4
python-bidi==0.4.2
python-dateutil==2.8.1
python-gitlab==1.15.0
pytz==2019.3
PyYAML==5.4
pyzmq==18.1.1
qtconsole==4.6.0
questplus==2019.1
rsa==4.7
s3transfer==0.3.3
scipy==1.11.1
seaborn==0.9.0
Send2Trash==1.5.0
simpleaudio==1.0.4
simpy==3.0.12
six==1.13.0
sklearn==0.0
smmap2==2.0.5
sounddevice==0.3.14
SoundFile==0.10.3.post1
statsmodels==0.10.2
stevedore==1.32.0
tables==3.6.1
terminado==0.8.3
testpath==0.4.4
tqdm==4.66.3
traitlets==4.3.3
typed-ast==1.4.1
urllib3==1.26.19
virtualenv==20.0.8
virtualenv-clone==0.5.3
virtualenvwrapper==4.8.4
wcwidth==0.1.7
webencodings==0.5.1
widgetsnbextension==3.5.1
wrapt==1.11.2
wxPython==4.0.7.post2
xarray==0.14.1
xlrd==1.2.0
zaber.serial==0.9
zipp==3.19.1
